---
import Roundel, { makeRoundel, type RoundelProps } from '~/components/widgets/Roundel.astro';

type Color = string;
type AnnouncementType = 'News' | 'Video' | 'Courses';

type AnnouncementRoundel = {
  type: AnnouncementType;
  color: Color;
  rectColor: Color;
  textColor: Color;
};

export function* generateRoundels(type: AnnouncementType, s: number, col = 1): Generator<RoundelProps> {
  const roundels: AnnouncementRoundel[] = [
    { type: 'News', color: '#008000', rectColor: '#008000', textColor: '#ffffff' },
    { type: 'Video', color: '#8B0000', rectColor: '#8B0000', textColor: '#ffffff' },
    { type: 'Courses', color: '#800080', rectColor: '#800080', textColor: '#ffffff' },
  ];

  const roundel = roundels.find((r) => r.type === type);
  if (!roundel) throw new Error(`Unknown type: ${type}`);

  const color = roundel?.color;
  const rectColor = roundel?.rectColor;
  const textColor = roundel?.textColor;
  const size = s * col;

  yield makeRoundel(
    size,
    { x: 0, y: 0 },
    { text: roundel.type, fontSize: '16px', color: textColor },
    { center: { x: 50, y: 50 }, radius: 1, color: 'white' },
    { center: { x: 50, y: 50 }, radius: 5, color: color },
    { top: 0, left: 0, color: rectColor, width: 10, height: 10 }
  );
}

/****

 */
---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <div class="flex flex-row flex-wrap justify-center items-center gap-6">
    <div>
      <Roundel {...[...generateRoundels('News', 50)][0]} />
    </div>
    <div px-6>
      <a
        href="https://effect.website/blog/effect-3.9#effectservice"
        class="text-muted hover:underline dark:text-teal-300 font-medium"
        >Effect 3.9 is now available with simplified Services. »</a
      >
    </div>
    <Roundel {...[...generateRoundels('Video', 50)][0]} />
    <div px-6>
      <a
        href="https://effect.website/blog/effect-3.9#effectservice"
        class="text-muted hover:underline dark:text-pink-300 font-medium"
        >Effect 3.9 is now available with simplified Services. »</a
      >
    </div>
    <Roundel {...[...generateRoundels('Courses', 50)][0]} />
    <a
      href="https://effect.website/blog/effect-3.9#effectservice"
      class="text-muted hover:underline dark:text-purple-300 font-medium"
      >Effect 3.9 is now available with simplified Services. »</a
    >
  </div>
</div>
