---
import Roundel, { makeRoundel, type RoundelProps } from '~/components/widgets/Roundel.astro';
import type { TflColor } from '~/tflColors';
import { TflColors } from '~/tflColors';

type AnnouncementType = 'News' | 'Video' | 'Courses';

type AnnouncementRoundel = {
  type: AnnouncementType;
  color: TflColor[keyof TflColor];
  rectColor: TflColor[keyof TflColor];
  textColor: TflColor[keyof TflColor];
};

export function* generateAnnouncementRoundels(type: AnnouncementType, s: number, col = 1): Generator<RoundelProps> {
  const roundels: AnnouncementRoundel[] = [
    { type: 'News', color: TflColors.tflBakerloo, rectColor: TflColors.tflBakerloo, textColor: TflColors.tflWhite },
    { type: 'Video', color: TflColors.tflJubilee, rectColor: TflColors.tflJubilee, textColor: TflColors.tflWhite },
    {
      type: 'Courses',
      color: TflColors.tflMetropolitan,
      rectColor: TflColors.tflMetropolitan,
      textColor: TflColors.tflWhite,
    },
  ];

  const roundel = roundels.find((r) => r.type === type);
  if (!roundel) throw new Error(`Unknown type: ${type}`);

  const color = roundel?.color;
  const rectColor = roundel?.rectColor;
  const textColor = roundel?.textColor;
  const size = s * col;

  yield makeRoundel(
    size,
    { x: 0, y: 0 },
    { label: roundel.type, fontSize: '13px', fontWeight: 'bold', color: textColor },
    { center: { x: 50, y: 50 }, radius: 1, color: 'white' },
    { center: { x: 50, y: 50 }, radius: 5, color: color },
    { top: 0, left: 0, color: rectColor, width: 10, height: 10 }
  );
}

/****

 */
---

<div
  class="dark text-muted text-sm bg-gray-200 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-1 relative text-ellipsis whitespace-nowrap"
>
  <div class="flex flex-row flex-wrap justify-center items-center gap-6">
    <div>
      <Roundel {...[...generateAnnouncementRoundels('News', 50)][0]} />
    </div>
    <div px-6>
      <a
        href="https://effect.website/blog/effect-3.9#effectservice"
        class="text-muted hover:underline dark:text-tflBakerloo font-medium"
        >Effect 3.9 is now available with simplified Services API. »</a
      >
    </div>
    <Roundel {...[...generateAnnouncementRoundels('Video', 50)][0]} />
    <div px-6>
      <a
        href="https://effect.website/blog/effect-3.9#effectservice"
        class="text-muted hover:underline dark:text-tflJubilee font-medium"
      >
      The Intersection of Architecture and Implementation»</a
      >
    </div>
    <Roundel {...[...generateAnnouncementRoundels('Courses', 50)][0]} />
    <a
      href="https://effect.website/blog/effect-3.9#effectservice"
      class="text-muted hover:underline dark:text-tflMetropolitan font-medium"
      >Effect 3.9 is now available with simplified Services. »</a
    >
  </div>
</div>
