---
import Roundel, { makeRoundel, type RoundelProps } from '~/components/widgets/Roundel.astro';

type Color = string;
type AnnouncementType = 'News' | 'Video' | 'Courses';

type AnnouncementRoundel = {
  type: AnnouncementType;
  color: Color;
  rectColor: Color;
  textColor: Color;
};

export function* generateRoundels(type: AnnouncementType, s: number, col: number = 1): Generator<RoundelProps> {
  const roundels: AnnouncementRoundel[] = [
    { type: 'News', color: '#B36305', rectColor: '#B36305', textColor: 'yellow' },
    { type: 'Video', color: 'lightgreen', rectColor: 'lightgreen', textColor: 'red' },
    { type: 'Courses', color: 'silver', rectColor: 'silver', textColor: 'purple' },
  ];

  const roundel = roundels.find((r) => r.type === type);
  if (!roundel) throw new Error(`Unknown type: ${type}`);

  const color = roundel?.color;
  const rectColor = roundel?.rectColor;
  const textColor = roundel?.textColor;
  const size = s * col;

  yield makeRoundel(
    size,
    { x: 0, y: 0 },
    { text: roundel.type, fontSize: '16px', color: textColor },
    { center: { x: 50, y: 50 }, radius: 1, color: 'white' },
    { center: { x: 50, y: 50 }, radius: 5, color: color },
    { top: 0, left: 0, color: rectColor, width: 10, height: 10 }
  );
}
---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <div class="w-12 h-12 flex items-center justify-center">
    <Roundel {...[...generateRoundels('News', 50)][0]} />
  </div>
  <a
    href="https://effect.website/blog/effect-3.9#effectservice"
    class="text-muted hover:underline dark:text-teal-300 font-medium"
    >Effect 3.9 is now available with simplified Services. »</a
  >

  <!-- Added margin-left to create space -->
  <div class="w-12 h-12 flex items-center justify-center">
    <Roundel {...[...generateRoundels('Video', 50)][0]} />
  </div>

  <a
    href="https://www.youtube.com/watch?v=cz1f4hG7ook&pp=ygUIU3ZlbHRlIDU%3D"
    class="text-muted hover:underline dark:text-orange-300 font-medium"
    >Svelte 5 Ruined Svelte (and that's why I love it) - Ben Davis»</a
  >

  <!-- Added margin-left to create space -->
  <div class="w-12 h-12 flex items-center justify-center">
    <Roundel {...[...generateRoundels('Courses', 50)][0]} />
  </div>

  <a
    href="https://www.typeonce.dev/course/paddle-payments-full-stack-typescript-app"
    class="text-muted hover:underline dark:text-purple-300 font-medium"
    >Full Stack TypeScript App with Billing - Sandro Maglione</a
  >
</div>
