---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-teal-700 bg-white/40 dark:text-teak-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEWS</span
  >
  <a
    href="https://effect.website/blog/effect-3.9#effectservice"
    class="text-muted hover:underline dark:text-teal-300 font-medium"
    >Effect 3.9 is now available with simplified Services. »</a
  >

  <!-- Added margin-left to create space -->
  <span
    class="ml-4 dark:bg-orange-700 bg-white/40 dark:text-orange-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >Video</span
  >

  <a
    href="https://www.youtube.com/watch?v=cz1f4hG7ook&pp=ygUIU3ZlbHRlIDU%3D"
    class="text-muted hover:underline dark:text-orange-300 font-medium"
    >Svelte 5 Ruined Svelte (and that's why I love it) - Ben Davis»</a
  >

  <!-- Added margin-left to create space -->
  <span
    class="ml-4 dark:bg-purple-700 bg-white/40 dark:text-purple-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >Course</span
  >

  <a
    href="https://www.typeonce.dev/course/paddle-payments-full-stack-typescript-app"
    class="text-muted hover:underline dark:text-purple-300 font-medium">Full Stack TypeScript App with Billing - Sandro Maglione</a
  >
</div>
